@charset "utf-8";/* CSS Document*/@font-face{font-family: "SOURCEHANSANSCN-HEAVY";src: url("../font/SOURCEHANSANSCN-HEAVY.woff2") format("woff2"), url("../font/SOURCEHANSANSCN-HEAVY.woff") format("woff"), url("../font/SOURCEHANSANSCN-HEAVY.ttf") format("truetype"), url("../font/SOURCEHANSANSCN-HEAVY.eot") format("embedded-opentype"), url("../font/SOURCEHANSANSCN-HEAVY.svg") format("svg");}
body{font:pingfang normal 100% ;color:#2e2d2d;padding-top:50px;padding-bottom: 40px;-webkit-transition: margin 500ms ease;-moz-transition: margin 500ms ease;-ms-transition: margin 500ms ease;-o-transition: margin 500ms ease;transition: margin 500ms ease;margin:0 auto;padding:0;width: 100%;color:#36393d;}
.ovfHiden{overflow:auto;overflow-x: hidden;height: 100%;}
li,em,i{list-style:none;font-style:normal;}
a{text-decoration:none;}
a:hover{text-decoration:none}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,font{padding:0;margin: 0;font-family: "SOURCEHANSANSCN-HEAVY";font-weight: normal;}
hr{color:#c6c6c6;border:none;border-top:1px solid #c6c6c6;}
table{border-spacing:0px;width:100%;}
fieldset,img{border:0;vertical-align:top;}
img{width: 100%;;height: auto;border: 0;-ms-interpolation-mode: bicubic;margin-top: 0em;}
.clear{clear:both}
.wid-100{width:100%;margin:0 auto}
.wid-90{width:93%;margin:0 auto}
.blank10{height:10px}
.blank20{height:0.625rem}
.left{float:left}
.right{float:right}
.bg_e{background: #3c4043}

/*1*/
#calendarTable tr td{font-size: 0.875rem;height: 2rem;border: 1px solid #b1b0bc;font-family: "SOURCEHANSANSCN-HEAVY"; position: relative;
font-weight:bold;text-shadow:0.05rem 0.05rem white ;text-align:center;margin:0;font-weight:bold;border-top: 1px solid #fff;border-right: none}
#calendarTable tr th{}
#calendarTable tr td:last-child{ border-right: 1px solid #b1b0bc; color: #ef9d10 }
#calendarTable tr td:first-child{color: #ef9d10}
.calendar{width: 100%;height: 18.5rem;display: block; border-radius: 0.2rem; overflow: hidden; z-index: 99; position: absolute; border-bottom:1px solid #7f7e87; }
/** * 设置日历顶部盒子*/
.calendar .calendar-title-box{position: relative;height: 4.325rem;background: url(../images/rl_til.png) no-repeat;background-size: 100% 100%;margin-top: 0.25rem;
  text-align:center; line-height: 5.325rem; font-size: 1rem; color: #fff; font-weight:bold;}
/** * 设置上个月的按钮图标*/
.calendar .prev-month{position: absolute;top: 2.3rem;left: 0.5rem;display: inline-block;width: 0.6rem;height: 1rem;}
/** * 设置下个月的按钮图标*/
.calendar .next-month{position: absolute;top: 2.3rem;right:0.5rem;display: inline-block;width: 0.6rem;height: 1rem;}
/* 设置日历表格样式*/
.calendar-table{width: 100%;text-align:center;}
/* 表格行高*/
.calendar-table tr{height: 2rem;line-height: 2rem;background: #e7e6f6}
/* 当前天 颜色特殊显示*/
.currentDay{box-shadow: inset 0px 0px 0.3rem #97630a;background: #ef9d10;color: #fff !important;text-shadow:0.05rem 0.05rem #60606a !important;border: none !important;}
/* 本月 文字颜色*/
.currentMonth{color: #454545;}
/* 其他月颜色*/
.otherMonth{color: #aeaeae !important;}

#head_data{ height:1.7rem; line-height: 1.7rem; background: url(../images/head.png) repeat-x; font-size: 0.7rem; color: #fff;background-size: 100% 100%; }
.dt{ border:1px solid #7f7e87 ; background: #e7e6f6; width: 99.3%; height: 4rem; border-radius: 0.2rem; position: absolute;  z-index: 9;}
.dt_b{bottom: -0.13rem;}
.dt_c{bottom: -0.23rem; z-index: 8}
.dt_box{ position: relative; height: 18.5rem }
.jr_hot{ margin-top: 2rem; }
.jr_hot h2{ text-align: center; color: #fff; font-size: 0.9rem; font-weight: bold; margin-bottom: 1rem; }
.jr_hot ul li{ height: 2.175rem; background: #ef9d10; line-height: 2.175rem; font-size: 0.7rem; color: #fff; 
	padding-left: 0.675rem; position: relative; border-radius: 0.2rem;  margin-bottom: 0.35rem; }
.jr_hot ul li i{ display: inline-block; width: 0.6rem; position: absolute; top: 0.6rem; right: 0.6rem; }
.hot_td:after,.currentDay:after{ content: ""; width: 0.375rem; height: 0.375rem; position: absolute; display: block; background: url('../images/hot_day.png') no-repeat;
background-size: 100% 100%; left: 50%; top: 75%; margin-left: -0.1875rem; }
.currentDay:after{background: url('../images/today.png') no-repeat;background-size: 100% 100%;}
#calendarTable tbody tr:nth-child(7) td{ border-bottom: none }
/*xq*/
.rl_til{height: 4.325rem;background: url(../images/rl_til.png) no-repeat;background-size: 100% 100%;margin-top: 0.25rem;position: relative; overflow: hidden;}
.rl_til .next,.rl_til .prev{ display: block; width: 0.6rem; margin-top: 2.2rem }
.rl_til .next{ margin-left: 0.6rem; }
.rl_til .prev{ margin-right: 0.6rem; }
.rl_icon,.fh{ width: 0.9rem; display: inline-block; position: absolute; }
.rl_icon{ left: 2rem; top: 1.2rem; }
.fh{right: 2rem; top: 0rem; padding-top: 1.2rem; }
.rl_day{ width: 12.4rem; position: relative; text-align: center; margin-top: 1rem; margin-left: 1.3rem;}
.rl_day h2 i{ font-size: 1.6rem; font-weight: bold; display: block;color: #fff;
    font-weight: bold;
    }
.rl_day h2 span{  font-size: 0.7rem; display: block; margin-top: -0.5rem;color: #fff; }
.sj_qh h3,.sjs_qh h3{ height: 2.1rem; line-height: 2.1rem; background: #f2f2f2; text-align: center; font-size: 0.7rem; color: #454545;
border-top: 2px solid #fff; border-bottom: 2px solid #b1b0bc ; position: relative; }
.sj_qh h3:nth-child(9),.sjs_qh h3:nth-child(9){ border-bottom: none }
.sj_qh,.sjs_qh{ position: absolute; z-index: 99;background:#f2f2f2; border-radius: 0.2rem; overflow: hidden; border:1px solid #8e8e8e; position: relative; border-top-left-radius: 0px;
    border-top-right-radius: 0px; border-top: none;}
.sj_txt{ padding: 0.625rem; background: #4f5153 }
.sj_txt p{ font-size: 0.6rem; color: #fff; line-height: 0.8rem; }
.sj_txt a{ color: #ef9d10; font-size: 0.7rem; text-decoration: underline; }
.sj_txt h1{ width:4rem; border-top: 1px solid #fff; font-size: 0.6rem; color: #fff; margin-top: 1rem; padding-top: 0.375rem;  }
.sj_til_icon{ width: 0.375rem; height: 0.375rem; display: inline-block; position: absolute; left: 0.825rem; top: 0.875rem; }
.icon_1{ background: url('../images/sj_icon_03.png') no-repeat;background-size: 100% 100%;}
.icon_2{ background: url('../images/sj_icon_06.png') no-repeat;background-size: 100% 100%;}
.icon_3{ background: url('../images/sj_icon_08.png') no-repeat;background-size: 100% 100%;}
.icon_4{ background: url('../images/sj_icon_10.png') no-repeat;background-size: 100% 100%;}
.icon_5{ background: url('../images/sj_icon_12.png') no-repeat;background-size: 100% 100%;}
.sj_r{ width: 1rem; position: absolute; right: 0.875rem; top: 0.875rem; }
.al_icon img{ width: 0.6rem; display: inline-block; vertical-align: middle; margin-right: 0.2rem; }
.rl_box{  position: relative; width: 14.875rem;}
.rl_box .dt_c{bottom: -0.16 rem;z-index: 8; background: #f2f2f2  }
.rl_box .dt_b{bottom: -0.1rem;z-index: 9; background: #f2f2f2  }

.fx_btn a{ display: inline-block; width: 5.075rem; height: 2.075rem; line-height: 2.075rem; background: #ef9d10; color: #fff; font-size: 1rem; 
	font-weight: bold;  border-radius: 0.2rem; }
.fx_btn{ text-align: center; margin-top: 2.525rem; }
.fx_btn a:first-child{ background: #b4b5b5; margin-right: 2.2rem; }
.fx_box{ position: fixed; top: 0px; left: 0px; z-index: 100; width: 100%; height: 100%;}
.fx_bg{ filter:blur(10px);-webkit-filter:blur(10px);
-moz-filter:blur(10px);
-ms-filter:blur(10px);
-o-filter:blur(10px);}
.fx_box{ display: none; }
.fx .rl_day{ width: 100% }
.sj_qh .on,.sjs_qh .on{ background: #ef9d10; border-top: 2px solid #ef9d10 }
.sj_qh h3:first-child,.sjs_qh h3:first-child{ border-top: none }
.loading{ position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background: #3c4043; z-index: 102; }
.loader { position: relative; width: 60px; height: 60px; border-radius: 50%; display: block; vertical-align: middle; top: 50%; left: 50%; margin-left: -30px; margin-top: -30px; }
.loader-4 { border: 7px double #ef9d10; -webkit-animation: ball-turn 1s linear infinite; animation: ball-turn 1s linear infinite; }
.loader-4:before,  .loader-4:after { content: ""; position: absolute; width: 12px; height: 12px; background: #ef9d10; border-radius: 50%; bottom: 0; right: 37px; }
.loader-4:after { left: 37px; top: 0; }
@keyframes ball-turn {
 0% {
 -webkit-transform: rotate(0deg);
 transform: rotate(0deg);
}
 100% {
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg);
}
}
.rqh_box{ width: 14.875rem; }
.rl_qh{ width: 14.875rem; margin: 0 auto; position: relative; }
.rl_qh .hd ul li{ display: none }
.rl_qh .hd a{ display: block; width: 0.6rem; position: absolute; z-index: 102; top: 2.6rem }
.rl_qh .hd .next{ right: 0.57rem; }
.rl_qh .hd .prev{ left: 0.57rem; }
.fx .rl_day{ margin-left: 0px; }
.todays li{ width:100% !important;}